*, ::after, ::before {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    transform: translate(50%, 20%);
    width: 600px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
}