*, ::after, ::before {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    transform: translate(60%, 20%);
    width: 600px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: red;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.ball {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}